.Footer {
    color: #46e686;
    background-color: #064302;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    width: 95%;
    height: 3rem;
    padding: 0.5rem;
    text-align: center;
    margin: auto;
}